<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<!-- 글쓰기 -->
	<insert id="insert">
		insert into board_info(board_number, board_cate_number, subject, user_id, content)
		values(seq_board.nextval, 10, #{subject}, #{user_id}, #{content})
	</insert>

	<!-- 글조회 -->
	<select id="select" resultType="BoardVo">
		select *
		from board_info b, user_info u
		where b.user_id = u.user_id and board_number=#{board_number}		
	</select>
	
	<!-- 글목록 -->
	<select id="selectAll" resultType="BoardVo">
		select *
		from(select rownum rnum, a.*
			from(select b.board_number, b.reply_count, b.subject, b.reg_date, b.view_count, u.user_nick
				 from board_info b, user_info u
				 where b.user_id = u.user_id
				 and is_del != 'Y'
				<include refid="contentView"></include>
				order by board_number desc)a)
		where rnum &gt;= #{startRow} and rnum &lt;= #{endRow}
	</select>
	
	<!-- 페이징갯수 -->
	<select id="listCount" resultType="int">
		select count(*) from board_info
		<include refid="search"></include>
	</select>	
	
	<!-- 댓글 갯수 갱신 -->
	<update id="updateReplycnt">
		update board_info set
			reply_count = (select count(*)
					       from reply_info
					       where board_number = #{board_number})
		where board_number = #{board_number}
	</update>
	
	<!-- 조회수증가 -->
	<update id="updateViewcnt">
		update board_info set
			view_count = view_count+1
		where board_number = #{board_number}
	</update>
	
	<!-- 글수정 -->
	<update id="update">
		update board_info set
			subject = #{subject},
			user_id = #{user_id},
			content = #{content}
		where board_number = #{board_number}
	</update>
	
	<!-- 글삭제 -->
	<delete id="delete">
<!-- 		delete from board_info  -->
<!-- 		where board_number = #{board_number} -->
	update board_info set
    	is_del = 'Y'
	where board_number = #{board_number}
	</delete>
	
	<!-- 첨부파일경로 추가 -->
	<insert id="attach">
		insert into board_file(file_path, board_number)
		values (#{file_path}, seq_board.currval)
	</insert>
	
	<!-- 첨부파일경로 가져오기 -->
	<select id="getAttach" resultType="string">
		select file_path
		from board_file
		where board_number = #{board_number}
	</select>
	
	<!-- 첨부파일삭제 -->
	<delete id="deleteAttach">
		delete from board_file
		where file_path = #{file_path}
	</delete>
	<!-- 게시글첨부파일삭제 -->
	<delete id="deleteAttachByBno">
		delete from board_file
		where board_number= #{board_number}
	</delete>
	
	<!-- 글목록 게시판에 구현search -->
	<sql id="contentView">
		<if test="searchType != null">
			<if test="searchType == 'subject'">
			 	and subject like '%' || #{keyword} ||'%'
			</if>	
			<if test="searchType == 'content'">
			 	 and content like '%' || #{keyword} || '%'
			</if>	 
			<if test="searchType == 'user_id'">
    		  	 and content like '%' || #{keyword} ||'%'s
			</if>
			 
		</if>
	</sql>
	
	<!-- 5줄 10줄 15줄 20줄 페이징부분 search -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'subject'">
			 	where subject like '%' || #{keyword} ||'%'
			</if>	
			<if test="searchType == 'content'">
			 	 where content like '%' || #{keyword} || '%'
			</if>	 
			<if test="searchType == 'user_id'">
    		  	 where content like '%' || #{keyword} ||'%'s
			</if>
			 
		</if>
	</sql>
</mapper>