<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="art">
	<!-- 앨범정보입력 -->
	<insert id="insert">
		insert into art_info (art_number, art_genre, user_id, team_number,art_title,art_cover,art_pr)
		values (seq_art.nextval,#{art_genre},#{user_id},#{team_number},#{art_title},#{art_cover},#{art_pr})
	</insert>
	
	<!-- 팀등록 -->
	<insert id="teamInsert">
		insert into indie_team (team_number, art_team)
		values (seq_team.nextval,#{art_team})
	</insert>
	
	<!-- 팀멤버 등록 -->
	<insert id="memberInsert">
		insert into team_member (member_number, team_number,user_id,team_level)
			<if test = "team_level == 0">
				values (seq_member.nextval,seq_team.currval,#{user_id},#{team_level})
			</if>
			<if test = "team_level == 1">
				values (seq_member.nextval,#{team_number},#{user_id},#{team_level})
			</if>
	</insert>
	
<!-- 	앨범정보 읽기 -->
	<select id="artRead" resultType="ArtInfoVo">
		select * 
		from art_info
		where art_number = #{art_number}
	</select>
	
	<select id="artModify" resultType="ArtInfoVo">
		select * 
		from art_info
		where user_id = #{user_id}
		and art_number = #{art_number}
	</select>
	
<!-- 	앨범 노래 읽기 -->
	<select id="musicRead" resultType="MusicInfoVo">
		select *
		from music_info
		where art_number = (select art_number
							from art_info
							where art_number = #{art_number})
		order by track_number
	</select>
	
<!-- 	앨범 리스트 가져오기 -->
	<select id="artList" resultType="ArtInfoVo">
		select *
		from art_info
		order by reg_art desc
	</select>
	
<!-- 	인디팀 불러오기 -->
	<select id="getIndieTeam" resultType="IndieTeamVo">
		select *
		from indie_team
		order by team_number
	</select>
	
<!-- 	앨범커버 리스트 불러오기 -->
	<select id="getCover" resultType="string">
		select art_cover
		from art_info
		order by art_number desc
	</select>
	
<!-- 	그룹넘버 가져오기 -->
	<select id="getIndieNumber" resultType="integer">
		select team_number
		from team_member
		where user_id = #{user_id}
	</select>
	
<!-- 	그룹이름 가져오기 -->
	<select id="getTeamName" resultType="string">
		select art_team
		from indie_team
		where team_number = #{team_number}
	</select>
</mapper>