<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="art">
	<!-- 앨범정보입력 -->
	<insert id="insert">
		insert into tbl_board(art_number, art_genre, user_id, team_number,art_title,art_cover,art_pr)
		values (seq_art.nextval,#{art_genre},#{user_id},#{team_number},#{art_title},#{art_cover},#{art_pr})
	</insert>
	
	<!-- 첨부파일 경로 추가 -->
	<insert id="attach">
		insert into tbl_file(file_path, bno)
		values (#{file_path}, seq_board.currval)
	</insert>
	
	<select id="art_read">
		select * 
	</select>
</mapper>