<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="music">

<!-- 	트랙리스트 가져오기 -->
	<select id="musicRead" resultType="MusicInfoVo">
		select *
		from music_info
		where art_number = #{art_number}
		order by track_number
	</select>
	
<!-- 	음악추가 -->
	<insert id="musicInsert">
		insert into music_info(art_number, music_number, track_number, music_title, file_path, team_number)
		values(#{art_number}, seq_music.nextval, #{track_number}, #{music_title}, #{file_path}, #{team_number})
	</insert>
	
<!-- 	음악수정 -->
	<update id="musicUpdate">
		update music_info set
			music_title = #{music_title}
		where art_number = #{art_number}
		and music_number = #{music_number}
		and team_number = #{team_number}
	</update>
	
<!--	 음악삭제 -->
	<update id="musicDelete">
		update music_info set
			upload_check = 0
		where art_number = #{art_number}
		and music_number = #{music_number}
		and team_number = #{team_number}
	</update>
	
<!-- 	앨범등록 -->
	<update id="musicArtUpdate">
		update music_info set
			upload_check = 1
		where art_number = #{art_number}
		and team_number = #{team_number}
	</update>
	
<!-- 	가사등록 -->
	<insert id="lyricsInsert">
		insert into music_lyrics (music_number, lyrics)
		values(#{music_number},#{lyrics})
	</insert>
	
<!-- 	가사찾기 -->
	<select id="getLyrics" resultType="string">
		select lyrics
		from music_lyrics
		where music_number = #{music_number}
	</select>
	
<!-- 	가사수정 -->
	<update id="updateLyrics">
		update music_lyrics set
			lyrics = #{lyrics}
		where music_number = #{music_number}
	</update>
	
<!-- 	트랙리스트수 확인 -->
	<select id="getMaxTrackNum" resultType="string">
		select max(track_number)
		from music_info
		where art_number = #{art_number}
	</select>
	
<!-- 	음악승인요청 -->
	<update id="musicUploadAppro">
		update music_info set
			upload_check = 2
		where art_number = #{art_number}
		and team_number = #{team_nubmer}
	</update>
	
<!-- 	음악 업로드승인 -->
	<update id="musicUpload">
		update music_info set
			upload_check = 1
		where art_number = #{art_number}
	</update>
	
	
	
</mapper>